* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url(./image/game_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 40%;
  height: 1000px;
  font-family: "Do Hyeon", sans-serif;
}
#container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
#secondContainer {
  width: 50%;
  background-color: rgb(215, 137, 211, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
h1 {
  margin-top: 50px;
  font-size: 100px;
  padding: 20px;
}
img {
  width: 40%;
  height: 200px;
  margin-top: 20px;
}
#chance-area {
  width: 100%;

  padding: 10px;

  color: #fff;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
#result-area {
  color: rgb(247, 219, 255);
  font-size: 50px;
}
.inputArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#user-input {
  width: 400px;
  height: 50px;

  margin-right: 10px;
  border-radius: 20px;
  background-color: rgb(188, 152, 242);
  border: none;
  outline: none;
  font-size: 20px;
  text-align: center;
}
#play-button {
  width: 60px;
  height: 60px;
  margin-right: 10px;

  border-radius: 50%;
  border: none;

  font-size: 20px;
  color: #fff;
  font-weight: bold;

  background-color: rgb(107, 66, 241);
}
#reset-button {
  width: 100px;
  height: 50px;

  margin: 10px 0px;
  border-radius: 20px;
  border: none;

  color: #fff;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(231, 79, 79);
  cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  h1 {
    margin-top: 30px;
    font-size: 40px;
    padding: 20px;
  }
  #secondContainer {
    width: 70%;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    margin-top: 10px;
    font-size: 30px;
    padding: 20px;
  }

  #secondContainer {
    width: 95%;
  }

  #user-input {
    width: 180px;
    margin-right: 10px;
    font-size: 11px;
  }

  #play-button {
    width: 45px;
    height: 45px;

    font-size: 15px;
  }
  #reset-button {
    width: 70px;
    height: 50px;

    font-size: 15px;
  }
  #chance-area {
    font-size: 20px;
  }
}
